# Fill your bot configuration below and rename this file or copy to .env file.

# LINE WORKS App's Client ID
LINEWORKS_CLIENT_ID='...'
# LINE WORKS App's Service Account
LINEWORKS_SERVICE_ACCOUNT='...'
# LINE WORKS App's Client Secret
LINEWORKS_CLIENT_SECRET='...'
# LINE WORKS App's Private key
LINEWORKS_PRIVATE_KEY='...'

# LINE WORKS Bot's Secret
LINEWORKS_BOT_SECRET='...'


